# pycharm files
.idea/*

# notebooks`
src/__pycache__/
src/ignored nbs/*
Example.ipynb
*/.ipynb_checkpoints/*


# data
data/*.csv
data/raw_data/*.csv
!data/raw_data/parameters_0-0.csv

data/raw_data/std-data/*.csv
data/raw_data/noise-data/*.csv
data/raw_data/probend-data/*.csv
data/raw_data/noise-probend-data/*.csv

.zshrc
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.synctex.gz
src/python-machine-learning/
nbs/dask-worker-space/

# images
images/clustering/
performance_dist/

output/
dask-worker-space/

# test
*.log
*.aux
*.out

*.DS_Store
.coverage
tests/__pycache__/*
.vscode/*
paper/arxiv

__pycache__/
data/raw_data.zip
paper/si.bbl
paper/si.blg
paper/si.fdb_latexmk
paper/si.fls
paper/si.synctex.gz

Reply/
