# pycharm files
.idea/*

# notebooks`
src/__pycache__/
src/ignored nbs/*
Example.ipynb
*/.ipynb_checkpoints/*


# data
src/data_frame.csv
src/df.csv
src/data/*
data/*

.zshrc
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.synctex.gz
src/python-machine-learning/
nbs/dask-worker-space/

# images
images/clustering/
performance_dist/

output/
dask-worker-space/

# test
*.log
*.aux
*.out

*.DS_Store
.coverage
tests/__pycache__/*
.vscode/*
